html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.container button {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #555C5C;
    margin-bottom: 0px;
    border-radius: 6px;
    border-bottom: 1px solid #fff;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.recuperarSenha {
    text-align: center;
}

.recuperarSenha a {
    position: relative;
    display: inline-block;
    color: #959595;
    font-size: 10px;
    /* text-decoration: none; */
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 3px
}

.recuperarSenha p {
    /* position: relative; */
    display: inline;
    color: #959595;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px
}

footer {
    position: absolute;
    flex-direction: row;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}


input {
    flex-direction: row;
    text-indent: 10px;
    width: 49%;
    padding: 16px 0;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    border-bottom: 1px solid #fff;
    background: transparent;
    /* width: auto; */
    border: 1px solid #8D9090;
    background-color: #555C5C;
}



.container #vtIndex {
    color: #959595;
    text-decoration: underline;
    text-align: center;
    font-size: 10px;
}





select {
    width: 49%;
    padding: 16px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 6px;
    background-color: #555C5C;
    padding-left: 7px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DCDADA;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #DCDADA;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #DCDADA;
}

.confirma {
    color: #04AA6D;
}